[submodule "bibfile"]
	path = vendor/bibfile
	url = https://github.com/ivotron/bibfile.git
[submodule "bibtools"]
	path = vendor/bibtools
	url = https://github.com/ivotron/bibtools.git
[submodule "pandoc-templates"]
	path = vendor/pandoc-templates
	url = https://github.com/ivotron/pandoc-templates
[submodule "latex-files"]
	path = vendor/latex-files
	url = https://github.com/ivotron/latex-files
[submodule "vendor/docker-pandoc"]
	path = vendor/docker-pandoc
	url = https://github.com/ivotron/docker-pandoc
[submodule "vendor/ceph_osdi06"]
	path = vendor/ceph_osdi06
	url = https://github.com/ivotron/ceph_osdi06
